<!DOCTYPE html>
<html>
  <head>
    <title>Binary Calculator</title>
  </head>
  <body>
    <h1>Binary Calculator</h1>
    <form action="/calculate" method="post">
      <label for="number1">First binary number:</label>
      <input type="text" name="number1" id="number1" /><br />
      <label for="number2">Second binary number:</label>
      <input type="text" name="number2" id="number2" />
      <label for="operator">Operator:</label>
      <select name="operator" id="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="%">%</option></select
      ><br />
      <input type="submit" value="Calculate" />
    </form>
  </body>
</html>
